//Base colors
$forestGreen: #015D67;
$kellyGreen: #00ACB1;
$mint: #87E4DB;
$pistachio: #CAF0C1;

$g88: #1F6C75;
$g72: #47878E;
$g56: #70A2A7;
$g40: #99BDC1;
$g32: #ADC9CD;
$g24: #C2D7DA;
$g16: #D5E4E6;
$g10: #E5EEEF;
$g8: #EBF2F3;
$g6: #F0F5F6;
$g4: #F5F9F9;
$G2: #FAFCFC;