$largeContentWidth: 60%;
$topBarHeight: 5em;
$headerHeights: 5em;

$growContentWidth: 35%;
$growContentListItemHeight: 8em;
$growContentListItemWidth: 8em;

$contentWidth: 1440px;
$subContentWidth: 45em;
$contentMarginTop: 4em;